---
import "../global.css";
import { 
  PhGithubLogo,
  PhTwitterLogo,
  PhLinkedinLogo,
  PhEnvelopeSimpleOpen,
  PhArrowUpRight
} from 'phosphor-icons-astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>armancurr</title>
		<link href="https://fonts.googleapis.com/css2?family=Funnel+Sans&display=swap" rel="stylesheet">
  </head>
	<body class="bg-[#191724] min-h-screen flex flex-col items-center justify-center gap-8 p-8">
      <div class="flex flex-col gap-8 max-w-2xl w-full">
        <!-- intro -->
        <section>
          <h1 class="text-[#e0def4] text-2xl font-medium mb-2">
            <span class="text-[#9ccfd8] text-md ml-1">~</span>
            <span class="text-[#31748f] text-md ml-1 mr-3">❯</span>
            arman
          </h1>
          <p class="text-[#e0def4] text-lg">
            i like to build software that feels good to use, makes your life easier, and always on the lookout to contribute to open source ones.
          </p>
        </section>

        <!-- socials -->
        <section class="flex flex-row items-center justify-start gap-4 text-md text-[#6e6a86]">
          find me here:
          <div class="hover:scale-110 transition-transform duration-300">
            <a href="https://github.com/armancurr" target="_blank">
              <PhGithubLogo size={18} weight="fill"/>
            </a>
          </div>
          <div class="hover:scale-110 transition-transform duration-300">
            <a href="https://x.com/rrucnamra" target="_blank">
              <PhTwitterLogo size={18} weight="fill"/>
            </a>
          </div>
        </section>

        <!-- what im working on? -->
        <section class="flex flex-col gap-4">
          <label class="text-[#6e6a86] text-md">what im working on?</label>
          <!-- 1 -->
          <div class="flex items-center justify-between">
            <div>
              <a href="https://github.com/armancurr/pazman.git" target="_blank">
                <h2 class="text-[#e0def4] hover:text-[#c4a7e7] text-lg font-medium mb-1 transition-colors duration-200">
                  pazman
                </h2>
              </a>
              <p class="text-[#6e6a86] text-md">
                quickly fetch your passwords in your terminal
              </p>
            </div>
            <a href="https://github.com/armancurr/pazman.git" target="_blank">
              <PhArrowUpRight size={20} class="text-[#e0def4] hover:text-[#c4a7e7]"/>
            </a>
          </div>

          <!-- 2 -->
          <div class="flex items-center justify-between">
            <div>
              <a href="https://github.com/armancurr/openmerge.git" target="_blank">
                <h2 class="text-[#e0def4] hover:text-[#c4a7e7] text-lg font-medium mb-1 transition-colors duration-200">
                  openmerge
                </h2>
              </a>
              <p class="text-[#6e6a86] text-md">
                automate your pull requests while never leaving the terminal
              </p>
            </div>
            <a href="https://github.com/armancurr/openmerge.git" target="_blank">
              <PhArrowUpRight size={20} class="text-[#e0def4] hover:text-[#c4a7e7]"/>
            </a>
          </div>
        </section>

        <!-- things i have built -->
        <section class="flex flex-col gap-4">
          <label class="text-[#6e6a86] text-md">things i have built</label>
          <!-- 1 -->
          <div class="flex items-center justify-between">
            <div>
              <a href="https://github.com/armancurr/vizum.git" target="_blank">
                <h2 class="text-[#e0def4] hover:text-[#c4a7e7] text-lg font-medium mb-1 transition-colors duration-200">
                  vizum
                </h2>
              </a>
              <p class="text-[#6e6a86] text-md">
                image utility tool to compress, convert, and resize images
              </p>
            </div>
            <a href="https://github.com/armancurr/vizum.git" target="_blank">
              <PhArrowUpRight size={20} class="text-[#e0def4] hover:text-[#c4a7e7]"/>
            </a>
          </div>

          <!-- 2 -->
          <div class="flex items-center justify-between">
            <div>
              <a href="https://github.com/armancurr/coinsavor.git" target="_blank">
                <h2 class="text-[#e0def4] hover:text-[#c4a7e7] text-lg font-medium mb-1 transition-colors duration-200">
                  coinsavor
                </h2>
              </a>
              <p class="text-[#6e6a86] text-md">
                it helps you save money by giving you meal plans that you should not ignore
              </p>
            </div>
            <a href="https://github.com/armancurr/coinsavor.git" target="_blank">
              <PhArrowUpRight size={20} class="text-[#e0def4] hover:text-[#c4a7e7]"/>
            </a>
          </div>
        </section>
  </body>
</html>
